{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col" >
            <pre class="text-warning text-lg-left">Whatsapp Link : For Order Related Issues Only :</pre>
            <a href="https://wa.link/azhnq9" class="text-success">Click Me!</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col" >
            <pre class="text-danger text-lg-left">Phone Number : For Any Issues : </pre>
            <a href="tel:9903581351"  class="text-success">Call Me!</a>
        </div>
    </div>
</div>
{% endblock content %}