<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{Title}}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
      <link rel="icon" href="{% static 'favicon.ico' %}" type="image/icon type">
      <link rel="stylesheet" href="{% static 'main.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="{% static 'main.js' %}"></script>
    </head>
    <body style="background-color : rgb(157, 172, 202)">
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <span class="head_span">
                  📓Reader's Point 
                  ~
                  We Make Readers Re-Unite
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      {% if request.path == '/login/' %}
                        {% if details.pic  %}
                          <li class="nav-item"><a href="{% url 'profile' id %}" style="text-decoration:none; color:white;"><img src="/Media/{{details.pic}}" height="40px" width="40px" class="rounded-circle" alt="DP">&nbsp;{{details.uname}}</a></li>
                        {% else %}
                          <li class="nav-item"><a href="{% url 'profile' id %}" style="text-decoration:none; color:white;"><img src="{% static 'profile_pic.jpg' %}" height="40px" width="40px" class="rounded-circle" alt="DP">&nbsp;{{details.uname}}</a></li>
                        {% endif %}
                      {% else %}
                        {% if pic  %}
                          <li class="nav-item"><a href="{% url 'profile' id %}" style="text-decoration:none; color:white;"><img src="/Media/{{pic}}" height="40px" width="40px" class="rounded-circle" alt="DP">&nbsp;{{name}}</a></li>
                        {% else %}
                          <li class="nav-item"><a href="{% url 'profile' id %}" style="text-decoration:none; color:white;"><img src="{% static 'profile_pic.jpg' %}" height="40px" width="40px" class="rounded-circle" alt="DP">&nbsp;{{name}}</a></li>
                        {% endif %}
                      {% endif %}
                      <a class="nav-link" href='{% url "m_home" id %}'>
                        <li class="nav-item">
                          Home
                        </li>
                      </a>
                      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Orders/Reports-Recieved And Products-Manipulation
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'reported-m' id %}">User Reported Problems</a></li>
                        <li><a class="dropdown-item" href="{% url 'view_order' id %}">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_product' id %}">Add-Products</a></li>
                        <li><a class="dropdown-item" href="{% url 'view_products' id %}">View-Products</a></li>
                      </ul></li>
                      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Report Problem</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log-Out</a></li>
                      </ul></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        